h1 {
    font-size: clamp(25px, 4vw, 40px);
    font-weight: 600;
    text-indent: 0;
    line-height: 1.3;
    margin: 50px 0px;
}
h2 {
    font-size: clamp(20px, 3vw, 30px);
    font-weight: 600;
    text-indent: 0;
    line-height: 1.2;
    margin: 50px 0px;
}
h3 {
    font-size: clamp(18px, 4vw, 25px);
    font-weight: 600;
    text-indent: 0;
    margin: 40px 0px;
}
h4 {
    font-size: clamp(16px, 3vw, 22px);
    font-weight: 600;
    text-indent: 0;
    margin: 20px 0px;
}
h5 {
    font-size: clamp(14px, 3vw, 18px);
    font-weight: 600;
    text-indent: 0;
    margin: 15px 0px;
}
h6 {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 600;
    text-indent: 0;
}
.page__title {
    color: #fff;
    text-align: center;
    font-size: clamp(25px, 4vw, 40px);
    margin: 0px 0px 20px 0px;
    text-shadow: 3px 3px 5px #ccc;
}
.page__title-flimsi {
    color: #000;
    text-align: center;
    font-size: clamp(25px, 4vw, 40px);
    margin: 0px 0px 20px 0px;
    text-shadow: 3px 3px 5px #555;
}
.page__section_2 p {
    margin: 15px 0;
}
.page__text {
    color: #fff;
    font-size: clamp(12px, 2vw, 16px);
    line-height: 135%;
    text-align: justify;
    text-indent: 50px;
    text-shadow: 3px 3px 5px #ccc;
}
.page__text-flimsi {
    color: #000;
    font-size: clamp(12px, 2vw, 16px);
    line-height: 135%;
    text-align: justify;
    text-indent: 50px;
    text-shadow: 2px 2px 7px #888;
}
.page__text p {
    margin: 0px 0px 15px 0px;
}
.page__text-flimsi #comment {
    background: #f4f3f8;
    box-shadow: inset 4px 0 0 0 #ced3f1;
    color: #392c69;
    font-size: clamp(10px, 1vw, 13px);
    font-style: italic;
    text-indent: 0;
    letter-spacing: 0;
    line-height: 16px;
    margin: 10px;
    padding: 5px 15px;
}
.page__text-flimsi #legal {
    font-style: italic;
    text-indent: 0;
    margin: 5% 2%;
}

@media (max-width:1200px) {
    h1,h2,h3,h4,h5,h6 {
        text-align: center;
        text-indent: 0;
        padding: 0;
        text-wrap: balance;
    }
}
@media (max-width:768px) {
    .page__content {
        margin: 35px 25px;
        padding: 10px;
    }
}
@media (max-width:426px) {
    .page__content {
        font-family: 'Verdana';
    }
    .page__text {
        font-family: 'Verdana';
    }
    .scroll {
        right: 90%;
        bottom: 12%;
        z-index: 50;
    }
}
@media (max-width:375px) {
    .page__content {
        margin: 20px 5px;
        padding: 5px;
    }
}